@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

@import "./variables.css";

html, body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    color: var(--color-white);
    background: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 100px;

    width: 100%;
    max-width: 1920px;
}

@media (max-width: 1199px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
}

.title {
    line-height: 1em;
}

h1.title {
    font-weight: 900;
    font-size: 120px;
}

h2.title {
    font-weight: 900;
    font-size: 96px;
}

h3.title {
    font-weight: 800;
    font-size: 64px;
}

h4.title {
    font-weight: 800;
    font-size: 40px;
}

@media (max-width: 1519px) {
    h1.title {
        font-size: 110px;
    }
}

@media (max-width: 1199px) {
    h1.title {
        font-size: 72px;
    }

    h2.title {
        font-size: 56px;
    }

    h3.title {
        font-size: 36px;
    }

    h4.title {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    h1.title {
        font-size: 32px;
    }

    h2.title {
        font-size: 24px;
    }

    h3.title {
        font-size: 20px;
    }

    h4.title {
        font-size: 16px;
    }
}

.text {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2em;
}

@media (max-width: 1199px) {
    .text {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .text {
        font-size: 14px;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.2em;
    text-transform: uppercase;

    display: block;

    border: 0;
    border-radius: 15px;
    color: var(--color-white);
    background: var(--color-accent-gradient);

    cursor: pointer;
}

.button.button_large {
    padding: 48px 60px;

    font-size: 32px;
}

.button.button_medium {
    padding: 32px 52px;

    font-size: 24px;
}

.button.button_small {
    padding: 28px 45px;

    font-size: 20px;
}

@media (max-width: 1199px) {
    .button {
        border-radius: 10px;
    }

    .button.button_large {
        padding: 32px 48px;

        font-size: 24px;
    }

    .button.button_medium {
        padding: 32px 52px;

        font-size: 20px;
    }

    .button.button_small {
        padding: 15px 30px;

        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .button.button_large {
        padding: 24px 36px;

        font-size: 14px;
    }

    .button.button_medium {
        padding: 14px 20px;

        font-size: 12px;
    }

    .button.button_small {
        padding: 14px 20px;

        font-size: 12px;
    }
}


.field {
    padding: 30px 40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2em;

    border: 0;
    border-radius: 15px;
    color: var(--color-accent);
    background: var(--color-white);
}

.field:focus {
    outline: 0;
}

@media (max-width: 1199px) {
    .field {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .field {
        padding: 18px 16px;

        font-size: 14px;

        border-radius: 10px;
    }
}

.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;

    background: rgba(20, 22, 30, .7);
    backdrop-filter: blur(100px);
}

.modal.modal_active {
    display: block;
}

.modal__inner {
    margin: auto;
    padding: 50px;

    width: 600px;
    height: fit-content;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 15px;
    background: var(--color-black);
}

@media (max-width: 767px) {
    .modal__inner {
        padding: 25px;

        width: calc(100% - 40px);
        max-width: 400px;
    }
}

.logo__icon {
    display: block;

    width: 246px;
    height: 36px;
}

@media (max-width: 1199px) {
    .logo__icon {
        width: 170px;
        height: 28px;
    }
}

@media (max-width: 767px) {
    .logo__icon {
        width: 110px;
        height: 16px;
    }
}