@import "./global.css";

/* HEADER */
.header {
    padding: 45px 0;

    width: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-link__icon {
    width: 36px;
    height: 36px;
}

.header-link__text {
    font-weight: 700;

    font-size: 36px;
    line-height: 1em;

    text-transform: uppercase;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__button {
    font-weight: 600;

    font-size: 24px;
    line-height: 1.2em;

    color: rgba(255, 255, 255, .5);
}

@media (max-width: 1519px) {
    .header-link__text {
        display: none;
    }
}

@media (max-width: 1199px) {
    .header {
        position: static;
    }

    .header__button {
        display: none;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 20px 0;
    }

    .header__link {
        display: none;
    }
}

/* INTRO */
.intro {
    padding: 100px 0 250px;
}

.intro__inner {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__title {
    max-width: 1400px;
}

.intro__text {
    margin-top: 50px;

    max-width: 1080px;
}

@media (max-width: 1519px) {
    .intro__title {
        max-width: 1000px;
    }

    .intro__text {
        margin-top: 36px;
    }
}

@media (max-width: 1199px) {
    .intro {
        padding: 50px 0 150px;
    }

    .intro__title {
        max-width: 600px;
    }

    .intro__text {
        margin-top: 24px;

        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding: 25px 0 50px;
    }

    .intro__title {
        max-width: 400px;
    }

    .intro__text {
        margin-top: 10px;

        max-width: 400px;
    }
}


/* TARIFFS */
.tariffs {
    padding: 100px 0;

    background: var(--color-accent-gradient);
}

.tariffs__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.tariffs__table {
    padding: 50px;

    flex: 1 1 auto;

    max-width: 810px;

    border-radius: 15px;
    color: var(--color-black);
    background: var(--color-white);
}

.tariffs__head {
    text-align: center;
}

.tariffs__head .tariffs__text {
    font-size: 48px;
}

.tariffs__body {
    margin-top: 50px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tariffs__list {
    margin: 0;
    padding-left: 28px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tariffs__body .tariffs__text {
    max-width: 320px;
}

.tariffs__button {
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 1199px) {
    .tariffs {
        padding: 50px 0;
    }

    .tariffs__inner {
        gap: 25px;
    }

    .tariffs__table {
        padding: 25px;
    }

    h3.tariffs__title {
        font-size: 72px;
    }

    .tariffs__body {
        margin-top: 25px;
    }

    .tariffs__list {
        gap: 12px;
    }

    .tariffs__body .tariffs__text {
        max-width: 250px;
    }

    .tariffs__button {
        margin-top: 25px;
    }
}

@media (max-width: 767px) {
    .tariffs {
        padding: 20px 0;
    }

    .tariffs__table {
        padding: 10px;
    }

    .tariffs__head .tariffs__text {
        font-size: 20px;
    }

    h3.tariffs__title {
        font-size: 32px;
    }

    .tariffs__body {
        margin-top: 10px;
    }

    .tariffs__list {
        padding-left: 16px;

        gap: 8px;
    }

    .tariffs__body .tariffs__text {
        max-width: 140px;
    }

    .tariffs__button {
        margin-top: 10px;
    }
}

/* INVESTING */
.investing {
    margin-top: 100px;
}

.investing__title {
    text-align: center;
}

.table {
    margin-top: 50px;

    width: 100%;

    text-align: left;

    border: 0;
    border-radius: 5px;
    background: var(--color-accent-gradient);
}

.table__col {
    padding: 28px;

    font-weight: 800;
    font-size: 40px;
    line-height: 1em;
}

tbody .table__col {
    color: var(--color-accent);
    border: 5px solid var(--color-accent);
    background: var(--color-white);
}

@media (max-width: 1519px) {
    .table__col {
        padding: 28px 20px;

        font-size: 24px;
    }
}

@media (max-width: 1199px) {
    .investing {
        margin-top: 50px;
    }

    .table {
        margin-top: 25px;
    }

    .table__col {
        font-size: 16px;
    }

    tbody .table__col {
        border: 2px solid var(--color-accent);
    }
}

@media (max-width: 767px) {
    .investing {
        margin-top: 20px;
    }

    .investing__body {
        margin: 0 -20px;

        overflow-x: scroll;
    }

    .table {
        margin-top: 20px;
    }
}

/* CONTACTS */
.contacts {
    margin: 200px 0 100px;

    text-align: center;
}

.contacts__link {
    text-align: left;

    display: inline-flex;
    align-items: center;
    gap: 50px;

    position: relative;
    z-index: 2;
}

.contacts__icon {
    width: 300px;
    height: 300px;
}

.contacts__title {
    max-width: 580px;
}

.contacts__title span {
    position: relative;
}

.contacts__title span::after {
    content: '';

    width: 100%;
    height: 13px;

    position: absolute;
    bottom: -13px;
    left: 0;

    background: var(--color-accent-gradient);
}

@media (max-width: 1199px) {
    .contacts {
        margin: 50px 0;
    }

    .contacts__link {
        gap: 20px;
    }

    .contacts__icon {
        width: 160px;
        height: 160px;
    }

    .contacts__title {
        max-width: 300px;
    }

    .contacts__title span::after {
        height: 4px;

        bottom: -6px;
    }
}

@media (max-width: 767px) {
    .contacts {
        margin: 20px 0;
    }

    .contacts__link {
        gap: 10px;
    }

    .contacts__icon {
        width: 72px;
        height: 72px;
    }

    .contacts__title {
        max-width: 150px;
    }
}